<IfModule mod_rewrite.c>
    RewriteEngine On

    # اگر مسیر درخواست شده به صورت مستقیم به public/ اشاره می‌کند، آن را حذف کن
    # RewriteBase /

    # اگر درخواست یک فایل یا پوشه واقعی نیست، آن را به index.php بفرست
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . index.php [L]
</IfModule>